<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; max-width:
  600px; font-size: 18px; line-height: 24px; }
</style>

<div class="message-content">

  <p>
    Olá, {{name}}
  </p>

  <br />
  
  <p>
    Recebemos uma solicitação de nova senha para seu usuário
  </p>

  <p>Se realmente foi você que solicitou, clique no link abaixo para redefinir
    sua senha</p>

  <p>
    <a href="{{link}}"> Redefinir minha senha</a>
  </p>

  <p>Caso você não tenha realizado essa solicitação, descarte esse e-mail.</p>

  <p>Obrigado</p>

  <br />

  <p>Equipe API Vendas</p>

</div>